<html>
<head>

	<link href="style/style.css" rel="stylesheet" >
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
<section id="nav">
	<img src="asset/images/logo.jpg" alt="msrtc" style="height: 200px;width: 200px; border: 2px solid blue">
	<h2>MSRCTC Welcomes you Have a safe journey</h2>
	
	<ul>
		<li><a href="">Home </a></li>
		<li><a href="">Contact us </a></li>
		<li><a href="">Live Status </a></li>
		<li style="float:right;font-size: 35px;margin-top: -4%;border-left: 2px solid black;"><a href="">Sign Up</a></li>
		<li style="float:right;font-size: 35px;margin-top: -4%;"><a href="">Login</a></li>
	</ul>
</section>
<section id="form">
		<form>
				<h5>PICK-UP LOCATION:</h5>
				<select class="custom-select" id="pick">
				  <option selected>Select</option>
				  <option value="Andheri">Andheri</option>
				  <option value="Pune">Pune</option>
				  <option value="Nashik">Nashik</option>
				  <option value="borivali">borivali</option>
				</select>
				<h5>DROP LOCATION:</h5>
				<select class="custom-select" id="drop">
				  <option selected>Select</option>
				  <option value="Ahemdabad">Ahemdabad</option>
				  <option value="Nagpur">Nagpur</option>
				  <option value="Ratnagiri">Ratnagiri</option>
				  <option value="Bhopal">Bhopal</option>
				</select>
			<br>
			<h5>Arrival Time:</h5>
				<input type="date" placeholder="dd/mm/yy">
			<br>
				<h5>CHOOSE BUS TYPE:</h5>
				<select class="custom-select" id="type">
				  <option selected>Select</option>
				  <option value="1">General</option>
				  <option value="2">Sleeper</option>
				  <option value="3">AC-Sleeper</option>
				  <option value="4">AC-Non Sleeper</option>
				</select>
			<br><br>
			   <button type="button"  id="btn1" class="btn btn-success" style="margin-left: 100px;">booknow</button>
		</form>
</section>

<section style="text-align: center;display: none" id="inner">
		<div >
			
			<section class="inner">
				<div id="first" style="background-color: blue;">
					  <h4>source</h4>
					  <h4>destination</h4>
					  <h4>Arrival time</h4>
					  
	
				</div>
			   
			</section>
		</div>
	</section>
<footer>
	<h2 style="margin-left: 100px;color:white">Join Us at</h2>
	<ul>
		<li><a href="#" class="fa fa-facebook">facebook</a></li>
		<li><a href="" class="fa fa-twitter">twitter</a></li>
		<li><a href="#" class="fa fa-google">google+</a></li>
		<li><a href="#" class="fa fa-linkedin">linkedin</a></li>
		<li><a href="#" class="fa fa-youtube">youtube</a></li>
	</ul>
</footer>
</body>
<script>
$(document).ready(function(){
    $("#btn1").click(function(){
		
     $("#form").animate({
		marginLeft :'150px'
	 },1000);

	 $("#inner").css({
		 "display":"block"
		 

	 }).animate({
		 marginLeft:'500px',
		 marginTop:'-350px'
	 },1000)


	  
	});
});
</script>
</html>