{% extends "base.html" %}
{% block content %}
<!-- <script> var stops = {{stops|tojson}}</script> -->
<!-- <script>
    $(function(){
            console.log(stops)
            $("#source").autocomplete({
                source: ["mumbai","pune","maharashtra"]
            },{autofocus:true});
            $("#dest").autocomplete({
                source: stops
            },{autofocus:true});
    });

</script> -->

<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("main.searchbus_autocomplete") }}'
            }).done(function (data) {
                $('#source').autocomplete({
                    source: data
                });
            });
        });
</script>
<section >
    <div id=form>
    <form autocomplete="off" action="/searchbus/" method="POST">
    
    <div class="form-group">
    <label class="control-label" for="source">Source :</label>
    <input type="text" id="source" name="source" class="form-control" placeholder="Enter Source ">
    </div>
    
    <div class="form-group">
    <label class="control-label" for="dest">Destination :</label>
    <input type="text" id="dest" name="dest" class="form-control" placeholder="Enter Destination">
    </div>
    
    <label for dropdown>Class :</label>
    <select name = "bus_class">
    <option value="g">General</option>
    <option value="sl">Sleeper Class</option>
    <option value="as">AC-Sleeper</option>
    <option value="ans">AC-Non Sleeper</option>
    <option value="any" selected="selected">ANY</option>
    </select>
    <br>
    <br>
    <div class="form-group">
    <label class="control-label" for="jdate">Enter Journey Date :</label>
    <input type="date" name="jdate" class="form-control" placeholder="EnterJourney Date">
    </div>
    <br>
    <input type="submit" name="submit" class="btn" style="background-color: rgb(78, 189, 253) ; border :2px solid rgb(245, 245, 245)">
    </form>
    </div>
</section>

{% endblock %}